<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github OAuth - Final Exam App</title>
  </head>
  <body>
    <h1>Your Github Account:</h1>
    <p><strong>Name</strong>: <%= userData.name %></p>
    <p><strong>Username</strong>: <%= userData.login %><br></p>     
  </body>
</html>